#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "keys_de.h"

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            // -------------------------------------
            // |     Z     |     M     |     K     |
            // |     A     |     B     |     C     |
            // |     D     |     E     |     F     |
            bindings = <
                &kp DE_R    &kp DE_L    &kp DE_D    &kp DE_B          &kp DE_W    &kp DE_O  &kp DE_U   &kp DE_A
                &kp DE_X    &kp DE_N    &kp DE_T    &kp DE_H          &kp DE_C    &kp DE_E  &kp DE_I   &kp DE_A
                						&kp DE_D    &kp DE_S          &kp KP_SPC  &kp DE_K
            >;
        };
    };
 };
